{% extends 'base.html.twig' %}

{% block title %}My Refrigerator{% endblock %}

{% block body %}
    <a class="btn btn-success" href="shopping-list">View My Shopping List</a>
    <a class="btn btn-primary" href="../new-produce-item">Create New Produce Item</a>
    <a class="btn btn-primary" href="../new-shopping-list-item">Create New Shopping List Item</a>

    <h1>My Refrigerator</h1>
    <img class="mt-4 mb-4" src="/uploads/refrig.jpg" style="height: 200px"; width="200px">

    <div class="list-group">

        {% for item in items %}

            <a href="#" class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="list-group-item-heading">
                        {{ item.Id }}.
                        {{ item.name }} -
                        {{ item.expirationDate is empty ? "No Date set!" : item.expirationDate|date('d/m/Y') }}
                        <img src="{{ item.icon.iconImage }}"/>
                    </h4>
                </div>
            </a>
        {% endfor %}

    {% if iconNames is defined %}
        <h1>All Icon Names</h1>

        {% for icon in iconNames %}

            <a href="#" class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="list-group-item-heading">
                        {{ icon.iconName }} <img src="../uploads/{{ icon.iconImage }}"/>
                    </h4>
                </div>
            </a>

        {% endfor %}
    {% endif %}

    </div>
{% endblock %}