{% extends 'base.html.twig' %}

{% block title %}My Shopping List{% endblock %}

{% block body %}
    <a class="btn btn-success" href="refrigerator">View My Refrigerator</a>
    <a class="btn btn-primary" href="../new-produce-item">Create New Produce Item</a>
    <a class="btn btn-primary" href="../new-shopping-list-item">Create New Shopping List Item</a>

    <h1>My Shopping List</h1>

    <img class="mt-4 mb-4" src="/uploads/basket.jpg" style="height: 200px"; width="200px">

    <div class="list-group">

        {% for item in items %}

        <ul class="list-unstyled list-group">

                <div class="d-flex w-100 justify-content-between list-group-item">
                    <h4 class="list-group-item-heading">

                        <li id="{{ item.Id }}-list-item">
                            <img style="height: 30px; width: 30px" src="/uploads/{{ item.icon.getIconImage() }}"/>
                             - {{ item.name }}
                            <span data-url={{ path('delete_refItem', { id: item.Id }) }} id="{{ item.Id }}">
                                <i class="fas fa-trash-alt text-danger"></i>
                            </span>
                            <button data-url={{ path("list-to-ref", { id: item.Id }) }} id="{{ item.Id }}" class="btn btn-success">
                                Bought
                            </button>
                        </li>

                    </h4>
                </div>

        {% endfor %}

        {% if iconNames is defined %}
            <h1>All Icon Names</h1>

            {% for icon in iconNames %}

                <a href="#" class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="list-group-item-heading">
                            <img src="../uploads/{{ icon.iconImage }}"/>
                        </h4>
                    </div>
                </a>

            {% endfor %}
        {% endif %}

    </div>
    <a href="{{ path("shopping_list_download") }}" class="btn btn-info">
        <i class="fas fa-download"></i> Download
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('ul li span').click(function(e) {
                let item_id = $(this).attr('Id');

                $.ajax({
                    url: $(this).data('url'),
                    method: 'DELETE'
                }).done(function() {
                    $('#' + item_id + '-list-item').hide();
                });
            })

            $('ul li button').click(function(e) {
                let item_id = $(this).attr('Id');

                $.ajax({
                    url: $(this).data('url'),
                    method: 'PUT'
                }).done(function() {
                    $('#' + item_id + '-list-item').hide();
                });
            })
        });
    </script>
{% endblock %}